@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color:#222;
}
.navbar{
  padding: .8rem;

}
.navbar-brand img{
  width: 150px;
  height: 70px;
  
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

}

.left-column {
  flex: 8;    
}

.left-column img {
  width: 100%;
  height: 100%;
 
}


.right-column {

  flex: 4;
  background-color: #cbd2df;
}

h2{
  text-align: center;
  margin-top: 20px;
}

form label {
  margin-left: 25px;
  font-size: large;
  
}

form input, form textarea {
  margin-left: 25px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

form input[type="submit"] {
  background-color: #2183bb;
  color: white;
  border: none;
  cursor: pointer;
  width: 30%;
}


@media (max-width: 768px) {
  .left-column, .right-column {
      flex: 1 1 100%;
  }
}



#accordion {
  margin: 20px auto;
  width: 90%;

}

#accordion li {
  list-style: none;

  margin-bottom: 10px;
  background:rgb(229, 225, 233);
  padding: 10px;
  border-radius: 4px;
}

#accordion li label {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: rgb(107, 101, 101);
}

#accordion li label span {
  transform: rotate(90deg);
  font-size: 22px;
  color: #8da0d3;
}

#accordion label + input[type="radio"] {
  display: none;
}

#accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}

#accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
}

@media screen and (max-width: 600px) {
  #accordion li label {
    font-size: 16px;
  }
  
  #accordion li label span {
    font-size: 20px;
  }

  #accordion .content {
    padding: 0 8px;
  }
}




.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
} 
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2a63af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #d5d5d5;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.footer-image img{
  width: 150px;
  height: 60px;
}


/*---Media Queries --*/
@media (max-width: 1500px){
  .carousel-inner img{
    width: 100%;
    height: 550px;
  }
}

@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 400px;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  } 
  .display-4 {
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a{
    font-size: 2em;
    padding: 1.7rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}



/* Carousel */
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  max-width: 800px; 
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  margin: 0 -10px; }

.carousel-item {
  flex: 0 0 auto;
  padding: 0 10px; 
  text-align: center;
}

.carousel-item img {
  width: 100px;
  height: 200px;
  object-fit: cover; 
  transition: transform 0.3s ease;
}

.carousel-item img:hover {
  transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  transition: background-color 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

@media (max-width: 768px) {
  .carousel-item img {
      height: 150px;
  }
}

@media (max-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
      padding: 5px;
      font-size: 16px;
  }
}
